---
---

@import "{{ site.theme }}";

/* Estilos personalizados */
body {
    background-color: #ffffff; /* Blanco */
    color: #000000; /* Negro */
}

/* Enlaces */
#sidebar p {
    font-size: 14px; /* Tamaño de fuente deseado para párrafos dentro del sidebar */
}

#sidebar a {
    font-size: 14px; /* Tamaño de fuente deseado para enlaces dentro del sidebar */
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #000000; /* Negro */
}

/* Botones */
.btn {
    background-color: #87C3FF; /* Azul */
    color: #ffffff; /* Blanco */
}

/* Enfasis */
strong, b {
    color: #000000; /* Negro */
}

/* Bloque de código */
pre {
    background-color: #f0f0f0; /* Gris claro */
}